{# ! Vue qui gere l'inscription
    ! symfony console:make controller
        ! Name of the form class : RegisterController #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Inscription</h1>
        
        {{form(registerForm)}}
        
        <br/>
        Vous avez deja un compte ?<a href="{{ path('app_login') }}"> Connectez-vous</a>
    </div>
{% endblock %}