{#!  Vue User Account Modify Pwd #}
{% extends 'base.html.twig' %}

{% block body %}
    <section class="modify-password">
        <div class="container">
            <h1>Espace membre</h1>

            <div class="row">
                <!-- Sidebar du menu utilisateur -->
                <div class="col-md-3">
                    {% include 'account/menu.html.twig' %}
                </div>

                <!-- Bloc Modification du Mot de Passe -->
                <div class="col-md-9">
                    <div class="container-modify-password">
                        <h1>Modification de mon mot de passe</h1>
                        {{ form(modifyPwd) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
